<div class="lesson-word">
    <div class="lesson-word-title">
        <h1> わたしじゃない</h1>
    </div>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-xs-2">カタカナ・ひらがな</th>
            <th class="col-xs-2">中文</th>
            <th class="col-xs-2">English</th>
            <th class="col-xs-6">例句</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>はし</td>
            <td>箸子 筷子</td>
            <td>Chopsticks</td>
            <td class="lesson-word-eg">はしでご飯をたべます</td>      
          </tr>
         
        </tbody>
      </table>
</div>