<!-- left list navi-->
<div class="lesson">

	<div class="lesson-nav">
		<ul class="nav nav-pills nav-stacked">
			<li><a routerLink="/lesson/1234">第一课</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Home</a></li>
	
		</ul>

	</div>

	<div class="lesson-board">
		<router-outlet></router-outlet>
	</div>

</div>
